$turquoise: #0baeb7;
$turquoise-hover: #0cc6cf;
$component-indicator: #61dafb;
$component-background-states: #065c78;
$white: #fff;
$white-text: #bbb;
$white-text2: #f2f2f2;
$editor-black: #161616;
$black: #000;
$black-1: #111;
$black-2: #222;
$black-3: #333;
$yellow: #ff0;
$pink-import: rgb(246, 71, 100);
$redux-purple: #ce51ff;
$redux-background1: #47364d;
$redux-background2: #4a2f3c;
$action-btn: #6200ea;
$action-btn-hover: #4500b5;
$action-btn-disabled: #6200eaaa;
$edit-btn: #007bff;
$edit-btn-hover: #0056b3;
$delete-btn: #dc3545;
$delete-btn-hover: #c82333;
$red-danger: #c64640;
$dropdown-background: #555;
$dropdown-background-hover: #505050;
