$turquoise: #0baeb7;
$component-indicator: #61dafb;
$component-background-states: #065c78;
$white: #fff;
$white-text: #bbb;
$editor-black: #161616;
$black: #000;
$black-1: #111;
$black-2: #222;
$yellow: #ff0;
$pink-import: rgb(246, 71, 100);
